* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}
button {
  padding: 4px 8px;
}
.add-todo-form {
  margin-bottom: 30px;
}
ul {
  list-style: none;
}
li {
  background-color: #f8ddd5;
  margin-bottom: 10px;
  padding: 8px;
}
li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li .title {
  font-size: 16px;
  font-weight: 500;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
li .title.completed {
  color: #aaaaaa;
}
.form-group {
  display: flex;
  align-items: center;
}
.add-todo-input {
  padding: 10px;
  width: calc(100% - 100px);
  font-size: 16px;
  border: 1px solid #f8ddd5;
}
.add-todo-input:focus {
  outline: 0;
  border: 1px solid #ffbeac;
}
.add-todo-btn {
  padding: 11px 20px;
  margin-left: 10px;
  border: 1px solid #f8ddd5;
  background-color: #f8ddd5;
  font-weight: 500;
  transition: .3s;
}
.add-todo-btn:hover,
.add-todo-btn:focus {
  border: 1px solid #ffbeac;
  background-color: #ffbeac;
}
.edit-todo-input {
  width: calc(100% - 80px);
  padding: 5px;
  border: 1px solid #ff7046;
}
.edit-todo-input:focus {
  outline: 0;
}
.save-btn {
  background-color: #ff7046;
  border: 1px solid #ff7046;
  padding: 5px 15px;
}
.edit-btn {
  background-color: #ff7046;
  border: 1px solid #ff7046;
  margin-right: 6px;
  color: #ffffff;
}
.delete-btn {
  background-color: rgb(179, 7, 7);
  border: 1px solid rgb(179, 7, 7);
  color: #ffffff;
}
.error {
  color: rgb(179, 7, 7);
  font-weight: 400;
  font-size: 11px;
}
